.home {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/home.png");
}

.davinci {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/davinci.png");
}

.dv-connections {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/components.png");
}

.javascript {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/javascript.png");
}

.utilities {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/utils.png");
}

.solution-innovations {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/solution-innovations.png");
}

.pingone {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/pingone.png");
}

.terraform {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/terraform.png");
}

.standards {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-doc.png");
}

.font {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-font.png");
}

.blue-palette {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-blue.png");
}

.gray-palette {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-gray.png");
}

.gold-palette {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-gold.png");
}

.green-palette {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-green.png");
}

.ping-palette {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/standards-red.png");
}

.jira {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/jira.png");
}

.box-red {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/rectangle-red.png");
}

.box-blue {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/rectangle-blue.png");
}

.box-green {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/rectangle-green.png");
}

.css {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/css.png");
}

.ux-team {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/ux.png");
}

.readme {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/info.png");
}

.annotation-blue {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/annotation-blue.png");
}

.annotation-pink {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/annotation-blue.png");
}

.annotation-gray {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/annotation-gray.png");
}

.annotation-gold {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/annotation-gold.png");
}

.annotation-purple {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/annotation-purple.png");
}

.postman {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/postman.png");
}

.jwt {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/jwt.png");
}

.base {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/base64.png");
}

.flows {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/flows.png");
}

.devops {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/devops.png");
}

.docker {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/docker.png");
}

.helm {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/helm.png");
}

.ping {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/ping.png");
}

.preferences {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/preferences-2.png");
}

.spacer {
  background-image: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/56x56/spacer.png");
}

