.home {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/home.png?v=1675445642881");
}

.davinci {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/davinci.png?v=1675449863609");
}

.dv-connections {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/components.png?v=1675446007743");
}

.javascript {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/javascript.png?v=1675446009371");
}

.utilities {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/utils.png?v=1675446016321");
}

.solution-innovations {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/solution-innovations.png?v=1675446013731");
}

.pingone {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/pingone.png?v=1675447115167");
}

.terraform {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/terraform.png?v=1675446016112");
}

.standards {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-doc.png?v=1675446014551");
}

.font {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-font.png?v=1675446014768");
}

.blue-palette {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-blue.png?v=1675446014223");
}

.gray-palette {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-gray.png?v=1675446015289");
}

.gold-palette {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-gold.png?v=1675446015026");
}

.green-palette {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-green.png?v=1675446015537");
}

.ping-palette {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/standards-red.png?v=1675446015678");
}

.jira {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/jira.png?v=1675446009559");
}

.box-red {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/rectangle-red.png?v=1675446012673");
}

.box-blue {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/rectangle-blue.png?v=1675446012211");
}

.box-green {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/rectangle-green.png?v=1675446012461");
}

.css {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/css.png?v=1675446008107");
}

.ux-team {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/ux.png?v=1675446016524");
}

.readme {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/info.png?v=1675446009172");
}

.annotation-title {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/annotation-blue.png?v=1675446006933");
}

.annotation-native {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/annotation-gray.png?v=1675446007357");
}

.annotation-paid {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/annotation-gold.png?v=1675446007153");
}

.postman {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/postman.png?v=1675446011803");
}

.jwt {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/jwt.png?v=1675450803846");
}

.base {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/base64.png?v=1675446007542");
}

.flows {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/flows.png?v=1675455903902");
}

.devops {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/devops.png?v=1675525932750");
}

.docker {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/docker.png?v=1675684956233");
}

.helm {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/helm.png?v=1675528473632");
}

.ping {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/ping.png?v=1675446011286");
}

.preferences {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/preferences-2.png?v=1675627381476");
}

.spacer {
  background-image: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/spacer.png?v=1675446013912");
}

