:root {
  --alert-green: #9DC967;
  --alert-red: #BA0029;
  --dark-gray: #222222;
  --darker-gray: #2D2D2D;
  --highlight-color-secondary: #b3222f;
  --highlight-color: #3954B0;
  --lite-gray: #474747;
  --main-bg-color: brown;
  --medium-gray: #383D40;
  --ping-deck-height: 490px;
  --ping-deck-preferences-height: calc(var(--ping-deck-height) - 44px);
  --ping-deck-preferences-width: calc(var(--ping-deck-width) - 80px);
  --ping-deck-width: 760px;
  --pref-background: #191919;
  --pref-container-background: #292929;
  --pref-input-background: #3D3D3D;
  --pref-input-color: #E3E3E3;
  --pref-label-color: #969696;
  --primary-font-color: #F5F5F5;
  --scroll-bar-background: var(--pref-input-background);
  --scroll-bar: var(--pref-input-color);
  --deck-top-padding: 30px;
}

body {
  background-color: var(--medium-gray);
  color: var(--primary-font-color);
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 20px 0px 10px 0px;
}

a {
  color: var(--pref-input-color);
  text-decoration: none;
}

div.ping-deck {
  background-color: var(--darker-gray);
  border-radius: 10px;
  border: 5px solid var(--dark-gray);
  height: var(--ping-deck-height);
  margin-top: 40px;
  margin: 0 auto;
  padding: 0px 16px;
  text-align: center;
  width: var(--ping-deck-width);
}

.top-margin-xl {
  margin-top: calc(var(--deck-top-padding));
}

div.ping-deck-blur {
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  -webkit-filter: blur(3px);
  backdrop-filter: blur(3px);
}

button.action {
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: 2px solid var(--lite-gray);
  color: var(--primary-font-color);
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  width: 80px;
}

button.action:hover {
  border-color: var(--highlight-color)
}

button.action:active {
  background-color: var(--lite-gray);
}

button.hidden {
  height: 20px;
  width: 20px;
  float: left;
  background-color: var(--darker-gray);
  border: none;
}
.centered {
  text-align: center;
}

.muted {
  font-size: 9pt;
  color: #cecece;
}


.preference-button {
  content: url("https://github.com/pingone-davinci/si-ping-deck-config/raw/main/icons/preferences.png");
  float: right;
  height: 30px;
  position: relative;
  right: 24px;
  top: 22px;
  width: 28px;
}

.preference-button:hover {
  content: url("https://pingone-davinci.github.io/si-ping-deck-config/icons/preferences-hover.png");
}

.home-button {
  content: url("https://pingone-davinci.github.io/si-ping-deck-config/icons/home.png");
  float: left;
  height: 28px;
  position: relative;
  left: 26px;
  top: 22px;
  width: 28px;
}

.home-button:hover {
  content: url("https://pingone-davinci.github.io/si-ping-deck-config/icons/home-hover.png");
}

.buttonDiv {
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 72px;
  position: relative;
  width: 72px;
}

.buttonText {
  bottom: 0;
  font-size: 8pt;
  font-weight: bold;
  left: 2px;
  margin-bottom: 2px;
  position: absolute;
  width: 100%;
}

.buttonTextMiddle {
  font-size: 8pt;
  font-weight: bold;
  left: 2px;
  position: absolute;
  top: 32%;
  width: 100%;
}

div.button-row {
  margin-bottom: 14px;
}

.display-inline-block {
  display: inline-block;
}

h2.main-title {
  margin-bottom: 0px;
  padding-left: 10px;
}

.logo {
  /* Ping Logo  */
  content: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/si-logo.png?v=1675693630957");
  display: inline-block;
  height: 22px;
  padding-top: 15px;
  width: 22px;
}

.tmpBorder {
  border: 1px solid blue
}

div.ping-deck-preferences {
  position: fixed;
  background-color: var(--pref-background);
  border-radius: 10px;
  border: 3px solid #73AD21;
  border: 5px solid var(--dark-gray);
  height: var(--ping-deck-preferences-height);
  left: calc(50% - 21px - (var(--ping-deck-preferences-width) * .5));
  margin-top: 40px;
  margin: 0 auto;
  padding: 0px 16px;
  text-align: center;
  top: calc(.5 * (var(--ping-deck-height) - var(--ping-deck-preferences-height)) + var(--deck-top-padding));
  width: var(--ping-deck-preferences-width);
}

div.preference-bar {
  background-color: var(--pref-background);
  text-align: left;
}

div.preference-bar .tab-button {
  background-color: green;
  background-color: var(--pref-background);
  border-radius: 5px 5px 0px 0px;
  border: none;
  color: var(--pref-label-color);
  margin: 0px 5px 0px 5px;
  padding: 5px 10px 5px 10px;
}

div.preference-bar .about {
  float: right;
}

div.preference-bar .tab-button.selected {
  background-color: var(--pref-container-background);
  color: var(--pref-input-color);
}

div.preference-container {
  background-color: var(--pref-container-background);
  height: calc(var(--ping-deck-preferences-height) - 120px);
  overflow: auto;
  padding: 0;
  width: var(--ping-deck-preferences-width);
}

div.preference-container .about {
  color: var(--pref-label-color);
  font-size: 11pt;
  margin-top: 10px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

div.preference {
  padding-top: 14px;
  width: 100%;
}

div.preference label {
  color: var(--pref-label-color);
  display: inline-grid;
  font-size: 10pt;
  padding-right: 2%;
  text-align: right;
  width: 30%;
}

div.preference input {
  background-color: var(--pref-input-background);
  border: none;
  color: var(--pref-input-color);
  display: inline-grid;
  font-size: 11pt;
  padding: 0.5em 0.5em;
  width: 65%;
}

div.preference select {
  background-color: var(--pref-input-background);
  border: none;
  color: var(--pref-input-color);
  display: inline-grid;
  font-size: 11pt;
  padding: 0.5em 0.5em;
  width: 65%;
}

div.preference button {
  color: var(--pref-label-color);
  background-color: var(--pref-container-background);
  color: var(--pref-input-color);
  border: 1;
  border-radius: 0px 0px 0px 0px;
  border-color: var(--pref-label-color);
  display: inline-grid;
  font-size: 10pt;
  text-align: center;
  width: auto;
  padding: 0.5em 0.5em;
  box-shadow: none;
}

.preference-close-button {
  content: url("https://cdn.glitch.global/90c2a317-76e7-4632-9e8c-f78184d43e80/close.png?v=1675605067868");
  height: 20px;
  position: absolute;
  right: 10;
  top: 10;
  width: 20px;
}

.alert {
  -webkit-animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-duration: 8s;
  animation-fill-mode: both;
  background-color: green;
  background-color: var(--alert-green);
  border-radius: 8px;
  border: none;
  color: black;
  font-size: 8pt;
  font-weight: bold;
  height: auto;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: -3px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: auto;
}

.alert.green {
  background-color: var(--alert-green);
  color: black;
}

.alert.red {
  background-color: var(--alert-red);
  color: white;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-scrollbar {
  width: 10px;
}

/* Track */
@-webkit-scrollbar-track {
  background: var(--scroll-bar-background);
}

/* Handle */
@-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
@-webkit-scrollbar-thumb: hover {
  background: #555;
}
